{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
             <link rel="stylesheet" href="{{ asset('styles/form.css') }}" >
{% endblock %}

{% block body %}
<div class="containerLog">
<form class="formContainer" method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
            <h1 id="title" >Please sign in</h1>
            <div id="fieldsContainer">
                {# EMAIL #}
                <div class="field">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="inputField" autocomplete="email" required autofocus>
                </div>
                {# PASSWORD #}
                <div class="field">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="inputField" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
            {# BOUTON #}
            <button class="btnLog" type="submit">
            Sign in
            </button>
        </div>
</form>
    <div id="message">
    New to WeatherApp ? <a href={{ path('app_register') }} id="redirect">Create an account</a>.
    </div>
</div>
{% endblock %}
